<html>

    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

   <body>
      
      <div style="margin:0 auto;width:40%;text-align:left; padding-top:250px">

         {% if messages %}
          <ul class="messages">
              {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
         {% endif %}

          <form action="" method="post">{% csrf_token %}
           
              <div class="form-group">
                  <label for="fullname"></label>
                  <input type="text" name="fullname" id="fullname" class="form-control" placeholder="fullname" value="{{feedback.name}}">
              </div>
    
              <div class="form-group">
                  <label for="email"></label>
                  <input type="text" name="email" class="form-control" id="email" placeholder="email" value="{{feedback.email}}">
              </div>
             
              <button type="submit" class="btn btn-primary">Save</button>
                
          </form>
      </div>
   </body>
</html>